.filterCat {
  &Container {
    width: var(--filter-width);
    box-sizing: border-box;
    padding-left: var(--padding-3);
    padding-right: var(--padding-3);
    padding-top: var(--padding-3);
  }

  &PlotContainer {
    width: var(--filter-width);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: default;
    user-select: none;
    z-index: 1000;
  }

  &InputContainer {
    height: var(--filterCat-input-containter-height);
    width: var(--filter-width);
    margin-bottom: var(--neg-margin-11);
    padding-top: var(--padding-5);
    z-index: 100;
    position: relative;
  }

  &ExtraOptionsInput {
    float: right;
    margin-top: var(--neg-margin-13);
    margin-right: var(--margin-5);
  }
}
