.pagination {
  &Outer {
    white-space: nowrap;
    display: flex;
  }

  &Button {
    width: var(--pagination-button-size);
    height: var(--pagination-button-size);
    border: 0;
    padding: 0;

    &Container {
      display: flex;
    }

    &Wrap {
      width: var(--pagination-button-size);
      height: var(--pagination-button-size);
      display: inline-block;
    }

    &Div {
      width: var(--pagination-buttonDiv-size);
      height: var(--pagination-buttonDiv-size);
      padding-left: var(--padding-3);
    }

    &Text {
      font-size: var(--text-3xs);
      width: var(--pagination-buttonText-width);
      height: var(--pagination-buttonText-height);
      line-height: var(--pagination-buttonText-line-height);
      text-align: center;
      margin-top: var(--neg-margin-4);
    }
  }

  &PageDash {
    display: inline-block;
    transform: scale(1.5, 1); // to deal with some browsers not being able to handle endash
  }

  &Label {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  &Icon {
    font-size: var(--text-3xs);
    padding: var(--padding-4);
  }

  &Progress {
    width: var(--pagination-progress-width);
    font-size: var(--text-base);
    color: var(--gray-1400);
    line-height: var(--pagination-progress-line-height);
  }
}
