.pagination {
  &Outer {
    white-space: nowrap;
  }

  &Button {
    width: var(--pagination-button-width);
    height: var(--pagination-button-height);
    border: 0;
    padding: 0;

    &Wrap {
      width: var(--pagination-button-width);
      height: var(--pagination-button-height);
      display: inline-block;
    }

    &Div {
      width: var(--pagination-buttonDiv-height);
      height: var(--pagination-buttonDiv-width);
      padding-left: 5px;
    }

    &Text {
      font-size: var(--pagination-buttonText-font-size);
      width: var(--pagination-buttonText-width);
      height: var(--pagination-buttonText-height);
      line-height: var(--pagination-buttonText-line-height);
      text-align: center;
      margin-top: -5px;
    }
  }

  &PageDash {
    display: inline-block;
    transform: scale(1.5, 1); // to deal with some browsers not being able to handle endash
  }

  &Label {
    vertical-align: middle;
    height: var(--pagination-label-height);
    display: inline-block;
  }

  &Icon {
    font-size: var(--pagination-icon-font-size);
    padding: 6px;
  }

  &Progress {
    width: var(--pagination-progress-width);
    font-size: var(--pagination-progress-font-size);
    color: var(--gray-1400);
    line-height: var(--pagination-progress-line-height);
  }
}
