.panel {
  border: var(--border-2);
  min-width: 0;
  overflow: hidden;
  position: relative;

  &Graphic {
    padding: var(--padding-2);
    justify-content: center;
    display: flex;
    flex-grow: 1;

    :global(.MuiDialog-container) & {
      transform: none;
      cursor: default;
    }

    img {
      object-fit: contain;
      max-width: 100%;
      min-width: 1px;
      width: 100%;
      height: 100%;
    }

    &Expand {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:hover &Graphic {
    &Expand {
      display: block;
    }
  }

  &Labels {
    width: 100%;
    background: var(--white-200);
    list-style-type: none;
    margin: 0;
    border-collapse: collapse;
  }

  &Label {
    width: 100%;
    font-size: var(--text-xs);
    border-bottom: var(--border-2);

    &Missing {
      color: var(--gray-600);
    }

    &Cell {
      padding: 0 var(--padding-2);
      white-space: nowrap;
      height: var(--panelLabel-height);
      line-height: var(--panelLabel-height);

      &:first-of-type {
        white-space: nowrap;
        font-weight: bold;
        border-right: var(--border-2);
        cursor: default;
      }

      &Content {
        display: flex;
        justify-content: space-between;
      }
    }

    &:first-of-type {
      border-top: var(--border-2);
    }

    &:last-of-type {
      border-bottom: none;
    }
    &Close {
      cursor: pointer;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      opacity: 0.5;

      svg {
        margin-top: 1px;
        width: 12px;
        height: 12px;
      }
    }
  }

  iframe {
    border: none;
  }
}
