@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?81n7x7');
  src:  url('fonts/icomoon.eot?81n7x7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?81n7x7') format('truetype'),
    url('fonts/icomoon.woff?81n7x7') format('woff'),
    url('fonts/icomoon.svg?81n7x7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th:before {
  content: "\f00a";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-angle-right:before {
  content: "\e909";
}
.icon-angle-left:before {
  content: "\e90a";
}
.icon-angle-double-right:before {
  content: "\e90b";
}
.icon-angle-double-left:before {
  content: "\e90c";
}
.icon-open-add:before {
  content: "\e908";
}
.icon-bycol:before {
  content: "\e906";
}
.icon-byrow:before {
  content: "\e907";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-wb_incandescent:before {
  content: "\e42e";
}
.icon-label_outline:before {
  content: "\e902";
}
.icon-label:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-grid-2:before {
  content: "\e103";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-open:before {
  content: "\e128";
}
.icon-th-list:before {
  content: "\e900";
}
.icon-dice:before {
  content: "\e904";
}
.icon-cog:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e905";
}

