.exportInputDialog {
  &TextField {
    margin-bottom: var(--margin-9) !important;
  }

  &Button {
    margin: var(--margin-6) !important;
  }

  &Description {
    margin-top: var(--margin-0);
  }

  &Container &ContentText {
    margin: var(--margin-10) var(--margin-0);
  }

  &Wrapper {
    &Right {
      text-align: right;
    }
    &Center {
      text-align: center;
    }
  }
}
