.exportInputDialog {
  &TextField {
    margin-bottom: var(--margin-9) !important;
  }

  &Description {
    margin-top: 0;
  }

  &Container &ContentText {
    margin: var(--margin-10) 0;
  }

  &ControlsContainer {
    display: flex;
    justify-content: space-between;
    margin: 15px;

    &Stepper {
      button {
        margin: 0 10px;
      }
    }
  }
}
