.exportInputDialog {
  &TextField {
    margin-bottom: 15px !important;
  }

  &Button {
    margin: 8px !important;
  }

  &Description {
    margin-top: 0;
  }

  &ContentText {
    margin: 20px 0 !important;
  }

  &Wrapper {
    &Right {
      text-align: right;
    }
    &Center {
      text-align: center;
    }
  }
}
