.contentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 20px 7px 0;
  background-color: var(--white-600);

  &Controls {

    &Item {
      background: var(--white-500);
    }
  }
}
