.filterNum {
  &Container {
    margin-left: var(--margin-4);
    margin-right: var(--margin-4);
    margin-top: var(--margin-4);
  }

  &InputContainer {
    width: var(--filter-width);
    margin-bottom: var(--neg-margin-8);
    padding-bottom: var(--padding-6);
    padding-top: var(--padding-2);
    z-index: 100;
    position: relative;
    vertical-align: center;
  }

  &RangeInputText {
    font-size: var(--text-sm);
    padding-right: var(--padding-7);
    display: inline-block;
  }

  &RangeInputTextDash {
    padding-left: var(--padding-4);
    transform: scale(2, 1); // to deal with some browsers not being able to handle endash
  }
}
