{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "comma-dangle": [2, "never"],
    "new-cap": [2, {"capIsNewExceptions": ["Radium"]}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  'globals': {
    'crossfilter': true,
    'window': true,
    'document': true,
    'VERSION': true
  }
}
