.numericInput {
  &Span {
    position: relative;
    display: inline-block;
    border-radius: 0;
    font-size: 13px;
  }

  &Input {
    padding: 3px 10px 3px 6px;
    box-sizing: border-box;
    height: 28px;
    width: auto;
    font-size: 15px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(204, 204, 204);
    display: block;
    line-height: normal;
  }

  &B {
    position: absolute;
    right: 2px;
    width: 15px;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-style: solid;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: none;
    top: 2px;
    bottom: 50%;
    border-radius: 2px 2px 0px 0px;
    border-width: 1px 1px 0px;
    background: rgba(0, 0, 0, 0.0980392);
    height: 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
    }
  }

  &B2 {
    position: absolute;
    right: 2px;
    width: 15px;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-style: solid;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: none;
    top: 50%;
    bottom: 2px;
    border-radius: 0px 0px 2px 2px;
    border-width: 0px 1px 1px;
    background: rgba(0, 0, 0, 0.0980392);
    height: 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
    }
  }

  &I {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 0px 0.6ex 0.6ex;
    border-color: transparent transparent rgba(0, 0, 0, 0.701961);
    border-style: solid;
    margin: -0.3ex 0px 0px -0.56ex;
  }

  &I2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 0.6ex 0.6ex 0px;
    border-color: rgba(0, 0, 0, 0.701961) transparent transparent;
    border-style: solid;
    margin: -0.3ex 0px 0px -0.56ex;
  }
}
