.sidebarFilterNotUsed {
  width: var(--sidebarFilter-width);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 var(--padding-7) var(--padding-7);

  &CogGroup {
    &Header {
      background: var(--blue);
      margin-left: var(--neg-margin-7);
      margin-right: var(--neg-margin-7);
      margin-top: var(--margin-7);
      margin-bottom: var(--margin-7);
      padding-top: var(--padding-3);
      padding-bottom: var(--padding-3);
      color: var(--white);
      font-weight: var(--font-normal);
      font-size: var(--text-base);
    }

    &Text {
      padding-left: var(--padding-11);
    }
  }
}
