.pill {
  background: var(--white-100);
  border-radius: var(--rounded);
  font-size: var(--text-xs);
  display: inline;
  box-shadow: var(--black-500) 0px 1px 6px, var(--black-500) 0px 1px 4px;
  cursor: pointer;
  transition: background 250ms;

  &:hover {
    background: var(--white-300);
  }

  &Button {
    padding: var(--padding-px) var(--padding-5) var(--padding-1) var(--padding-5);
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--text-xs);
  }
}
