.filterInput {
  padding: var(--padding-px);

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-sm);

    svg {
      width: 20px;
      font-size: 20px;
    }

    &Name {
      padding: var(--padding-px) var(--padding-3);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
    }
    &Label {
      padding: var(--padding-px) var(--padding-3);
      font-size: 14px;
      font-style: italic;
    }

    &Controls {
      display: flex;
      align-items: center;
    }
  }

  &SubMenu {
    display: flex;
    justify-content: space-between;
  }

  &Count {
    font-size: var(--text-xs);
    color: var(--gray-1100);
    margin: 0 var(--margin-6) 0 var(--margin-3);
  }
}
