.sideButton {
  position: relative;
  width: var(--sideButton-width);
  height: var(--sideButton-height);
  line-height: var(--sideButton-line-height);
  text-align: center;
  vertical-align: middle;
  font-size: var(--sideButton-font-size);
  color: var(--white);
  border: none;
  border-bottom: var(--border-7);
  user-select: none;
  background: var(--gray-300);
  transition: var(--sideButton-transition);
  cursor: pointer;

  &:hover {
    background: var(--blue-200);
  }

  &__active {
    background: var(--white);
    color: var(--blue-200);

    &:hover {
      background: var(--blue-200);
      color: var(--white);
    }
  }

  &Icon {
    line-height: var(--sideButton-icon-line-height);
    height: var(--sideButton-icon-height);
    width: var(--sideButton-width);
    position: absolute;
    top: 8px;
    left: 0;
  }

  &Label {
    font-size: var(--sideButton-label-font-size);
    line-height: var(--sideButton-label-line-height);
    width: var(--sideButton-width);
    position: absolute;
    bottom: 4px;
    left: 0;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: var(--border-7);
    border-bottom: none;
  }
}
