.row {
  padding: 8px 15px 6px;
  height: 42px;
  box-sizing: border-box;
  font-size: 16px;
  width: 230px;
  display: inline-block;
}

.label {
  line-height: 28px;
  float: left;
}

.nInput {
  float: right;
}

.inputRadio {
  margin-bottom: 5px;
  margin-top: 0;
}

.inputLabelSpan {
  line-height: 40px;
  vertical-align: middle;
  font-size: 16px;
}

.inputIcon {
  font-size: 23px;
  padding-left: 6px;
  vertical-align: text-bottom;
}

.relDisp {
  font-size: 14px;
  padding-left: 6px;
  vertical-align: text-bottom;
}

.relDispText {
  padding-bottom: 10px;
}

.relDispButton {
  text-align: 'center';
}
