.row {
  padding: 8px 15px 6px;
  height: var(--sidebarLayout-row-height);
  box-sizing: border-box;
  font-size: var(--sidebarLayout-row-font-size);
  width: var(--sidebarLayout-row-width);
  display: inline-block;
}

.label {
  line-height: var(--sidebarLayout-label-line-height);
  float: left;
}

.nInput {
  float: right;

  input[type='number' i] {
    padding: 5px;
  }
}

.inputRadio {
  margin-bottom: 5px;
  margin-top: 0;
}

.inputLabelSpan {
  line-height: var(--sidebarLayout-inputLabelSpan-line-height);
  vertical-align: middle;
  font-size: var(--sidebarLayout-inputLabelSpan-font-size);
}

.inputIcon {
  font-size: var(--sidebarLayout-inputIcon-font-size);
  padding-left: 6px;
  vertical-align: text-bottom;
}

.relDisp {
  font-size: var(--sidebarLayout-relDisp-font-size);
  padding-left: 6px;
  vertical-align: text-bottom;
}

.relDispText {
  padding-bottom: 10px;
}

.relDispButton {
  text-align: center;
}
