.row {
  padding: var(--padding-6) var(--padding-9) var(--padding-4);
  height: var(--sidebarLayout-row-height);
  box-sizing: border-box;
  font-size: var(--text-xl);
  width: var(--sidebarLayout-row-width);
  display: inline-block;
}

.label {
  line-height: var(--sidebarLayout-label-line-height);
  float: left;
}

.nInput {
  float: right;

  input[type='number' i] {
    padding: var(--padding-3);
  }
}

.inputRadio {
  margin-bottom: var(--margin-4);
  margin-top: 0;
}

.inputLabelSpan {
  line-height: var(--sidebarLayout-inputLabelSpan-line-height);
  vertical-align: middle;
  font-size: var(--text-xl);
}

.inputIcon {
  font-size: var(--text-6xl);
  padding-left: var(--padding-4);
  vertical-align: text-bottom;
}

.relDisp {
  font-size: var(--text-base);
  padding-left: var(--padding-4);
  vertical-align: text-bottom;
}

.relDispText {
  padding-bottom: var(--padding-7);
}

.relDispButton {
  text-align: center;
}
