.headerLogo {
  position: absolute;
  top: -1px; // cover up top app border
  right: 0;
  cursor: pointer;
  border: none;
  height: var(--headerLogo-height);
  text-align: center;
  width: var(--headerLogo-width);
  font-size: var(--headerLogo-font-size);
  background: var(--red-200);
  color: var(--white);

  &Icon {
    position: absolute;
    top: 1px;
    right: 1px;
    color: var(--red);
  }

  &Dialog {
    &Headline {
      font-size: var(--headerLogo-dialogHeadline-font-size);
      padding-top: 16px;
      margin-bottom: 12px;
      font-weight: var(--headerLogo-dialogHeadline-font-weight);
    }

    &Div {
      font-size: var(--headerLogo-dialogDiv-font-size);
      padding-left: 10px;
      padding-right: 10px;
      z-index: 5000;
    }

    &H4 {
      margin-bottom: 5px;
    }

    &Ul {
      margin-top: 0;
      break-inside: avoid-column;
    }

    &Code {
      color: var(--red-100);
      font-size: var(--headerLogo-dialogCode-font-size);
    }

    &P {
      text-indent: -20px;
      padding-left: 20px;
      margin-top: 1em;
    }

    &P2 {
      padding-left: 20px;
    }

    &P22 {
      text-indent: 0;
      padding-left: 20px;
    }

    &Hi {
      color: var(--red-100);
    }
  }

  &Keynote {
    margin-bottom: 0;
    color: var(--gray-900);
    font-style: italic;
  }
}
