.headerLogo {
  position: absolute;
  top: -1px; // cover up top app border
  right: 0;
  cursor: pointer;
  border: none;
  height: var(--headerLogo-height);
  text-align: center;
  width: var(--headerLogo-width);
  font-size: var(--text-2xl);
  background: var(--red-200);
  color: var(--white);

  &Icon {
    position: absolute;
    top: 1px;
    right: 1px;
    color: var(--red);
  }

  &Dialog {
    &Headline {
      font-size: var(--text-7xl);
      padding-top: var(--padding-10);
      margin-bottom: var(--margin-8);
      font-weight: var(--font-normal);
    }

    &Div {
      font-size: var(--text-3xl);
      padding-left: var(--padding-7);
      padding-right: var(--padding-7);
      z-index: 5000;
    }

    &H4 {
      margin-bottom: var(--margin-4);
    }

    &Ul {
      margin-top: var(--margin-0);
      break-inside: avoid-column;
    }

    &Code {
      color: var(--red-100);
      font-size: var(--text-4xl);
    }

    &P {
      text-indent: -20px;
      padding-left: var(--padding-11);
      margin-top: var(--margin-px);
    }

    &P2 {
      padding-left: var(--padding-11);
    }

    &P22 {
      text-indent: 0;
      padding-left: var(--padding-11);
    }

    &Hi {
      color: var(--red-100);
    }
  }

  &Keynote {
    margin-bottom: var(--margin-0);
    color: var(--gray-900);
    font-style: italic;
  }
}
