.catHistogram {
  padding: var(--padding-px) 0;

  &BarWrapper {
    position: relative;
    color: var(--gray-900);
    font-size: 9px;
    margin-bottom: 1px;
    border: none;
    background: none;
    overflow-x: hidden;

    &:hover {
      background: var(--white-200);

      .catHistogramBarValue {
        opacity: 1;
      }
    }

    &__active {
      color: var(--black);

      .catHistogramBar {
        background: var(--orange-200);
      }
    }
  }

  &Bar {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white-300);

    &:hover {
      background: var(--orange-100);
      color: var(--black);
    }

    &Label {
      padding-left: var(--margin-3);
      line-height: 14px;
      cursor: default;
      white-space: nowrap;
    }

    &Value {
      position: absolute;
      color: var(--gray-1400);
      right: var(--margin-3);
      line-height: 15px;
      font-size: var(--text-3xs);
      opacity: 0;
    }
  }
}
