.catHistogram {
  padding: var(--padding-px) 0;

  &BarWrapper {
    position: relative;
    color: var(--gray-1300);
    font-size: 14px;
    margin-bottom: 1px;
    border: none;
    background: none;
    overflow-x: hidden;
    width: 99% !important;

    &:hover {
      background: var(--white-200);

      .catHistogramBarValue {
        opacity: 1;
      }
    }

    &__active {
      color: var(--black);

      .catHistogramBar {
        background: var(--orange-200);
      }
    }
  }

  &Bar {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gray-300);
    display: flex;
    align-items: center;

    &:hover {
      background: var(--orange-100);
      color: var(--black);
    }

    &Label {
      padding-left: var(--margin-3);
      line-height: 14px;
      cursor: default;
      white-space: nowrap;
    }

    &Value {
      position: absolute;
      color: var(--gray-1400);
      right: var(--margin-3);
      top: 5px;
      line-height: 15px;
      font-size: var(--text-base);
      opacity: 0;
      padding-right: 2px;
    }

    &Indicator {
      position: absolute;
      background: #448aff;
      width: 3px;
      height: 24px;
      top: 0;
      right: 0;
    }
  }
}
