.sidebarLabels {
  overflow-y: auto;
  overflow-x: hidden;

  &RowDesc {
    color: var(--gray-900);
    font-style: italic;
  }

  &List {
    padding: 0;

    &Checkbox {
      height: var(--sidebarLabels-listCheckbox-size);
      width: var(--sidebarLabels-listCheckbox-size);
    }

    &Item {
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
      margin-left: var(--margin-7);
    }
  }

  &CogGroup {
    &Header {
      background: var(--blue) !important;
      color: var(--white) !important;
      font-weight: var(--font-normal) !important;
      font-size: var(--text-base) !important;
      line-height: var(--sidebarLabels-cogGroupHeader-line-height) !important;
    }

    &Text {
      padding-left: var(--padding-11);
    }
  }
}
