.sidebarLabels {
  overflow-y: auto;
  overflow-x: hidden;

  &RowDesc {
    color: var(--gray-900);
    font-style: italic;
  }

  &List {
    padding: 0;

    &Checkbox {
      height: var(--sidebarLabels-listCheckbox-height);
      width: var(--sidebarLabels-listCheckbox-width);
    }

    &Item {
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
      margin-left: 10px;
    }
  }

  &CogGroup {
    &Header {
      background: var(--blue) !important;
      color: var(--white) !important;
      font-weight: var(--sidebarLabels-cogGroupHeader-font-weight) !important;
      font-size: var(--sidebarLabels-cogGroupHeader-font-size) !important;
      line-height: var(--sidebarLabels-cogGroupHeader-line-height) !important;
    }

    &Text {
      padding-left: 20px;
    }
  }
}
