.relatedDisplays {
  &Button {
    position: absolute;
    box-sizing: border-box;
    top: -1px;
    transition: var(--relatedDisplays-button-transition);
    display: inline-block;
    height: var(--relatedDisplays-button-size);
    width: var(--relatedDisplays-button-size);
    font-size: var(--text-3xl);
    text-align: center;
    border-right: var(--border-2);
    border-bottom: var(--border-2);
    border-left: none;
    border-top: none;

    &Dialog {
      width: var(--relatedDisplays-buttonDialog-width);
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
      color: var(--black) !important;
    }

    &Icon {
      display: flex;
      justify-content: center;
    }

    &:hover {
      transition: var(--relatedDisplays-button-hover-transition);
      background: var(--white-300);
      cursor: pointer;
    }
  }

  &Stepper {
    margin-bottom: var(--margin-12);
  }

  &BoxStyle {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: var(--border-4);
    background: var(--blue-300);
  }

  &Dialog {
    z-index: 8000;
    font-weight: var(--font-light);
  }

  &DialogActionText {
    text-align: center;
    width: 100%;
  }

  &TrHandle {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--relatedDisplays-handle-size);
    height: var(--relatedDisplays-handle-size);
    background: var(--blue-300);
  }

  &TlHandle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--relatedDisplays-handle-size);
    height: var(--relatedDisplays-handle-size);
    background: var(--blue-300);
  }

  &BrHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--relatedDisplays-handle-size);
    height: var(--relatedDisplays-handle-size);
    background: var(--blue-300);
  }

  &BlHandle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--relatedDisplays-handle-size);
    height: var(--relatedDisplays-handle-size);
    background: var(--blue-300);
  }

  &Badge {
    padding-bottom: 27px;
  }

  &BadgeCircle {
    background: var(--blue-300);
    color: var(--white);
  }
}
