.relatedDisplays {
  &Button {
    position: absolute;
    box-sizing: border-box;
    top: -1px;
    transition: left 0.5s ease, background 250ms;
    display: inline-block;
    height: 48px;
    width: 48px;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #eaedf0;
    border-bottom: 1px solid #eaedf0;
    border-left: none;
    border-top: none;

    &Dialog {
      width: 200px;
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }

    &Icon {
      padding-left: 2px;
      line-height: 45px;
    }

    &:hover {
      transition: background 250ms;
      background: #eee;
      cursor: pointer;
    }
  }

  &BoxStyle {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border: solid 1px #ddd;
    background: rgba(69, 138, 249, 0.4);
  }

  &Dialog {
    z-index: 8000;
    font-weight: 300;
  }

  &DialogActionText {
    text-align: center;
    width: 100%;
  }

  &TrHandle {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: rgba(69, 138, 249, 0.4);
  }

  &TlHandle {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: rgba(69, 138, 249, 0.4);
  }

  &BrHandle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: rgba(69, 138, 249, 0.4);
  }

  &BlHandle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: rgba(69, 138, 249, 0.4);
  }

  &Badge {
    padding-bottom: 27px;
  }

  &BadgeCircle {
    background: rgba(69, 138, 249, 0.4);
    color: #fff;
  }
}
