.filterCat {
  &InputContainer {
    display: flex;
    align-items: center;
  }

  &Regex {
    width: 190px;
    margin-top: var(--neg-margin-6);
    font-size: var(--text-xl);
    transform: scale(0.85);
    transform-origin: 0 0;
  }
}
