.content {
  padding: var(--panelGridGap);
  display: grid;
  // grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--panelGridGap);
  width: 100%;

  &Wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    height: calc(100% - 46px); // TODO: replace with variables
    overflow: hidden;
  }
}

.tableContainer {
  height: 100%;
}
