.numHistogram {
  padding: var(--margin-4) 0 0;
}

.brush {
  fill: none;

  &Overlay {
    pointer-events: all;
  }

  &Selection {
    cursor: move;
    fill-opacity: 0.125;
    shape-rendering: crispEdges;
    stroke-opacity: 0.2;
  }

  &Handle {
    width: 6px;
    cursor: ew-resize;
  }
}

.axis {
  font-size: 10px;
  opacity: 0.4;
  shape-rendering: crispEdges;

  &Tick {
    &Text {
      text-anchor: middle;
    }

    &Super {
      font-size: 8px;
      text-anchor: middle;
    }
  }
}
