.sideButtons {
  &Container {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 48px;
    width: 48px;
    background: #b3b3b3;
    box-sizing: border-box;
    z-index: 1000;
  }
}

.spacer {
  transition: height 0.2s;
  height: 25px;
  width: 48px;
  background: #c1c1c1;
}