.sideButtons {
  &Container {
    width: var(--sideButtons-container-width);
    background: var(--gray-300);
    box-sizing: border-box;
    z-index: 1000;
  }
}

.spacer {
  transition: var(--sideButtons-spacer-transition);
  height: var(--sideButtons-spacer-height);
  width: var(--sideButtons-container-width);
  background: var(--gray-200);
}