.wrapper {
  background: var(--white);

  &:hover {
    background: var(--white-200);

    .barLabel {
      visibility: visible;
    }
  }
}

.bar {
  background: var(--white-300);
  color: var(--gray-900);
  position: absolute;
  left: 0;

  &:hover {
    background: var(--orange-100);
    color: var(--black);
  }

  &Active {
    background: var(--orange-200);
    color: var(--black);
  }

  &AllActive {
    background: var(--orange);
    color: var(--black);
  }

  &Label {
    font-size: var(--text-3xs);
    color: var(--gray-1400);
    text-align: center;
    cursor: default;
    position: absolute;
    line-height: var(--filterCatPlotBar-label-line-height);
    right: 4px;
    visibility: hidden;
  }

  &Text {
    display: inline-block;
    overflow: hidden;
    cursor: default;
  }

  &TextInner {
    display: inline-block;
    white-space: nowrap;
    margin-left: var(--margin-4);
    position: absolute;
    bottom: 0;
  }
}