.displayInfo {
  &Button {
    position: absolute;
    left: var(--displayInfo-button-position-left);
    box-sizing: border-box;
    top: -1px;
    display: inline-block;
    height: var(--displayInfo-button-height);
    width: var(--displayInfo-button-width);
    font-size: var(--displayInfo-button-font-size);
    padding-top: 0px;
    color: var(--gray-600);
    background: none;
    text-align: center;
    border-right: var(--border-2);
    border-bottom: var(--border-2);
    border-top: none;
    border-left: none;

    &:hover {
      transition: var(--displayInfo-button-hover-transition);
      background: var(--white-300);
      cursor: pointer;
    }
  }

  &Icon {
    padding-left: 2px;
    line-height: var(--displayInfo-icon-line-height);
  }

  &ModalContainer {
    overflow-y: auto;
    max-height: var(--dispayInfo-container-max-height);
  }

  &ButtonLeft {
    left: 0;
  }
}
