.displayInfo {
  &Icon {
    display: flex;
    justify-content: center;
  }

  &ModalContainer {
    overflow-y: auto;
    max-height: var(--dispayInfo-container-max-height);

    iframe {
      border: none;
    }
  }

  &ButtonLeft {
    left: 0;
  }
}
