.panelDialog {
  &Graphic {
    padding: var(--padding-10);
    display: flex;
    justify-content: center;

    img {
      height: auto;
      width: clamp(320px, 100vw, 800px);
      max-width: 100%;
    }

    iframe {
      border: none;
      // max-width: 100%;
      // width: min(80vw, 80vh);
      // height: min(80vw, 80vh);
    }
  }

  &LabelsWrapper {
    border-top: var(--border-2);
    border-bottom: var(--border-2);
  }
}
