.sidebarSort {
  &NotUsed {
    width: var(--sidebarSort-notUsed-width);
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: var(--padding-7);
    padding-right: var(--padding-7);
    padding-bottom: var(--padding-7);

    &Header {
      height: var(--sidebarSort-notUsedHeader-height);
      line-height: 30px;
      padding-left: var(--padding-7);
      box-sizing: border-box;
      width: var(--sidebarSort-notUsed-width);
      font-size: var(--text-base);
    }
  }
}
