.sidebarSort {
  &Table {
    width: var(--sidebarSort-table-width);
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    &Wrap {
      overflow-y: auto;
      overflow-x: hidden;
    }

    &Row {
      width: var(--sidebarSort-table-width);
      height: var(--sidebarSort-table-height);
      border-bottom: var(border-3);
    }
  }

  &Tr {
    width: var(--sidebarSort-table-width);
    height: var(--sidebarSort-table-height);
    border-bottom: var(border-3);
  }

  &Button {
    vertical-align: middle;
    width: var(--sidebarSort-button-width);
    text-align: center;

    &Close {
      height: var(--sidebarSort-button-height);
      width: var(--sidebarSort-button-width);
      text-align: center;
      vertical-align: middle;
    }
  }

  &Labels {
    font-size: var(--sidebarSort-labels-font-size);
    height: var(--sidebarSort-labels-height);
    width: var(--sidebarSort-labels-width);
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &NotUsed {
    width: var(--sidebarSort-notUsed-width);
    overflow-y: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    &Header {
      height: var(--sidebarSort-notUsedHeader-height);
      line-height: 30px;
      padding-left: 10px;
      box-sizing: border-box;
      width: var(--sidebarSort-notUsed-width);
      font-size: var(--sidebarSort-notUsedHeader-font-size);
    }
  }

  &Variable {
    display: inline-block;
    box-shadow: var(--sidebarSort-variable-box-shadow);
    border-radius: var(--sidebarSort-variable-border-radius);
    border: 0;
    background: none;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin: 3px !important;
    font-size: var(--sidebarSort-variable-font-size);
    color: black;
    cursor: pointer;
    transition: var(--sidebarSort-variable-transition);

    &:hover {
      transition: var(--sidebarSort-variable-transition);
      background: var(--white-500);
    }
  }

  &CogGroup {
    &Header {
      background: var(--blue);
      margin-left: -10px;
      margin-right: -10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: var(--white);
      font-weight: var(--sidebarSort-cogGroupHeader-font-weight);
      font-size: var(--sidebarSort-cogGroupHeader-font-size);
    }

    &Text {
      padding-left: 20px;
    }
  }
}
