.displaySelect {
  &AttnOuter {
    position: absolute;
    overflow: hidden;
    height: var(--displaySelect-size);
    width: var(--displaySelect-size);
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &AttnInner {
    position: absolute;
    height: var(--displaySelect-size);
    width: var(--displaySelect-size);
    top: 0;
    left: 0;
    transition: var(--displaySelect-inner-transition);
    opacity: 1;
    transform: scale(0.85);
  }

  &AttnEmpty {
    position: absolute;
    height: var(--displaySelect-size);
    width: 100%;
    border-radius: var(--rounded-50);
    opacity: 0.16;
    transition: var(--displaySelect-empty-transition);
    top: 0;
    transform: scale(0.85);
    background-color: var(--black-200);
  }

  &FolderIcon {
    display: flex;
    justify-content: center;
  }

  &Button {
    z-index: 8000;
    position: absolute;
    box-sizing: border-box;
    top: -1px; // cover up top app border
    left: -1px;
    height: var(--displaySelect-size);
    width: var(--displaySelect-size);
    font-size: var(--text-3xl);
    line-height: var(--displaySelect-button-line-height);
    background: var(--blue-200);
    color: var(--white);
    text-align: center;
    border: none;
    transition: var(--displaySelect-button-transition);

    &:hover {
      transition: var(--displaySelect-button-hover-transition);
      opacity: 0.8;
      color: var(--white);
      cursor: pointer;
    }
  }

  &ButtonInactive {
    background: var(--gray);
    border-color: var(--gray);

    &:hover {
      background: var(--gray-100);
      border-color: var(--gray-100);
    }
  }
}
