.filterNum {
  &Container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  &PlotContainer {
    width: 220px;
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: default;
    user-select: none;
    z-index: 1000;
  }

  &InputContainer {
    width: 220px;
    margin-bottom: -12px;
    padding-bottom: 8px;
    padding-top: 4px;
    z-index: 100;
    position: relative;
    vertical-align: center;
  }

  &RangeInputText {
    font-size: 13px;
    padding-right: 10px;
    display: inline-block;
  }

  &RangeInputTextDash {
    padding-left: 4px;
    transform: scale(2, 1); // to deal with some browsers not being able to handle endash
  }
}
