.container {
    width: var(--sidebarFilter-width);
    // display: 'inline-block',
    // for dropdowns to not be hidden under other elements:
    box-sizing: border-box;
    z-index: 100; // + this.props.index,
    position: relative;
    padding-bottom: var(--padding-4);
    border-bottom: var(--border-6);
}

.col1 {
  position: absolute;
  top: 25px;
  left: 0;
}

.col2 {
  position: absolute;
  top: 25px;
  left: 230px;
  border-left: var(--border-6);
}

.notUsedHeader {
  height: var(--sidebarFilter-notUsedHeader-height);
  line-height: var(--sidebarFilter-notUsedHeader-line-height);
  padding-left: var(--padding-7);
  box-sizing: border-box;
  width: var(--sidebarFilter-width);
  font-size: var(--text-base);
}

.notUsedContainer {
  width: var(--sidebarFilter-width);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 var(--padding-7) var(--padding-7);
}

.variable {
  display: inline-block;
  box-shadow: var(--sidebarFilter-variable-box-shadow);
  border-radius: var(--rounded);
  padding: var(--padding-px) var(--padding-5) var(--padding-1) !important;
  border: 0;
  background: var(--white);
  margin: var(--margin-2) !important;
  font-size: var(--text-xs);
  cursor: pointer;
  color: var(--black);
  transition: var(--sidebarFilter-variable-transition);

  &:hover {
    background: var(--white-500);
  }
}

.variableActive {
  background: var(--green);
  color: var(--white);

  &:hover {
    background: var(--green);
  }
}

.allContainer {
  width: var(--sidebarFilter-width);
  box-sizing: border-box;
}

.container {
  width: var(--sidebarFilter-width);
  // display: 'inline-block',
  // for dropdowns to not be hidden under other elements:
  box-sizing: border-box;
  z-index: 100; // + this.props.index;
  position: relative;
  padding-bottom: var(--padding-4);
  border-bottom: var(--border-6);
}

.header {
  height: var(--sidebarFilter-height);
  line-height: var(--sidebarFilter-header-line-height);
  width: var(--sidebarFilter-width);
  margin-top: var(--margin-1);
  font-size: var(--text-xs);
  position: relative;
}

.headerExtra {
  position: absolute;
  right: 38px;
  height: var(--sidebarFilter-height);
  line-height: var(--sidebarFilter-header-line-height);
  font-size: var(--text-2xs);
  color: var(--gray-1100);
}
.headerName {
  height: var(--sidebarFilter-height);
  padding-left: var(--padding-3);
  padding-right: var(--padding-3);
  position: absolute;
  left: 1px;
  user-select: none;
  cursor: default;
  background: var(--gray-700);
}

.headerNameActive {
  background: var(--green);
}

.headerNameText {
  color: var(--white);
}

.headerIcon {
  height: var(--sidebarFilter-height);
  color: var(--gray-1300);
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  margin-top: var(--neg-margin-1);
  padding: var(--padding-0);
  z-index: 1000;

  &:hover {
    transition: var(--sidebarFilter-headerIcon-hover-transition);
    color: var(--gray-500);
  }
}

.headerIconHide {
  visibility: hidden;
}

.headerClose {
  right: 5px;
}

.headerReset {
  right: 18px;
}

.cogGroupHeader {
  background: var(--blue);
  margin-left: var(--neg-margin-7);
  margin-right: var(--neg-margin-7);
  margin-top: var(--margin-7);
  margin-bottom: var(--margin-7);
  padding-top: var(--padding-3);
  padding-bottom: var(--padding-3);
  color: var(--white);
  font-weight: var(--font-normal);
  font-size: var(--text-base);
}

.cogGroupText {
  padding-left: var(--padding-11);
}

.sidebarFilterTooltip {
  z-index: 1001 !important;
}
