.container {
    width: var(--sidebarFilter-width);
    // display: 'inline-block',
    // for dropdowns to not be hidden under other elements:
    box-sizing: border-box;
    z-index: 100; // + this.props.index,
    position: relative;
    padding-bottom: 6px;
    border-bottom: var(--border-6);
}

.col1 {
  position: absolute;
  top: 25px;
  left: 0;
}

.col2 {
  position: absolute;
  top: 25px;
  left: 230px;
  border-left: var(--border-6);
}

.notUsedHeader {
  height: var(--sidebarFilter-notUsedHeader-height);
  line-height: var(--sidebarFilter-notUsedHeader-line-height);
  padding-left: 10px;
  box-sizing: border-box;
  width: var(--sidebarFilter-width);
  font-size: var(--sidebarFilter-notUsedHeader-font-size);
}

.notUsedContainer {
  width: var(--sidebarFilter-width);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 10px 10px;
}

.variable {
  display: inline-block;
  box-shadow: var(--sidebarFilter-variable-box-shadow);
  border-radius: var(--sidebarFilter-variable-border-radius);
  padding: 2px 7px 3px !important;
  border: 0;
  background: var(--white);
  margin: 3px !important;
  font-size: var(--sidebarFilter-variable-font-size);
  cursor: pointer;
  color: var(--black);
  transition: var(--sidebarFilter-variable-transition);

  &:hover {
    background: var(--white-500);
  }
}

.variableActive {
  background: var(--green);
  color: var(--white);

  &:hover {
    background: var(--green);
  }
}

.allContainer {
  width: var(--sidebarFilter-width);
  box-sizing: border-box;
}

.container {
  width: var(--sidebarFilter-width);
  // display: 'inline-block',
  // for dropdowns to not be hidden under other elements:
  box-sizing: border-box;
  z-index: 100; // + this.props.index;
  position: relative;
  padding-bottom: 6px;
  border-bottom: var(--border-6);
}

.header {
  height: var(--sidebarFilter-height);
  line-height: var(--sidebarFilter-header-line-height);
  width: var(--sidebarFilter-width);
  margin-top: 1px;
  font-size: var(--sidebarFilter-header-font-size);
  position: relative;
}

.headerExtra {
  position: absolute;
  right: 38px;
  height: var(--sidebarFilter-height);
  line-height: var(--sidebarFilter-header-line-height);
  font-size: var(--sidebarFilter-headerExtra-font-size);
  color: var(--gray-1100);
}
.headerName {
  height: var(--sidebarFilter-height);
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  left: 1px;
  user-select: none;
  cursor: default;
  background: var(--gray-700);
}

.headerNameActive {
  background: var(--green);
}

.headerNameText {
  color: var(--white);
}

.headerIcon {
  height: var(--sidebarFilter-height);
  color: var(--gray-1300);
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
  margin-top: -1px;
  padding: 0;
  z-index: 1000;

  &:hover {
    transition: var(--sidebarFilter-headerIcon-hover-transition);
    color: var(--gray-500);
  }
}

.headerIconHide {
  visibility: hidden;
}

.headerClose {
  right: 5px;
}

.headerReset {
  right: 18px;
}

.cogGroupHeader {
  background: var(--blue);
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--white);
  font-weight: var(--sidebarFilter-cogGroupHeader-font-weight);
  font-size: var(--sidebarFilter-cogGroupHeader-font-size);
}

.cogGroupText {
  padding-left: 20px;
}