.header {
  &Container {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: var(--header-container-height);
    background: var(--white);
    color: var(--black);
    border-bottom: var(--border-2);
    border-top: var(--border-2);
    border-left: var(--border-2);
    margin: 0;
    font-size: var(--text-xl);
    font-weight: var(--font-light);
    z-index: 1010;
  }

  &SubContainer {
    display: flex;
    position: absolute;
    top: 0;
    height: var(--header-container-height);
  }

  &NameDescContainer {
    flex: 1 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &Icon {
      display: flex;
      align-items: center;
    }
  }

  &DisplayName {
    vertical-align: top;
    padding-left: var(--padding-9);
    font-size: var(--text-2xl);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &DisplayDesc {
    vertical-align: top;
    font-weight: var(--font-light);
    padding-left: var(--padding-9);
    padding-right: var(--padding-6);
    font-size: var(--text-3xs);
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
