.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &AppBar {
    background: var(--white-100);
    height: 54px;
  }

  &Toolbar {
    padding-left: 20px;
    min-height: 54px !important;
  }

  &Right {
    display: flex;
    align-items: center;
  }

  &IconButton {
    margin-right: 20px;
  }

  &DisplayInfo {
    display: flex;
    align-items: center;

    &TitleContainer {
      margin-left: 10px;
    }
  }

  &Trelliscope {
    height: 54px;
    font-family: 'Jost';
    display: flex;
    flex-direction: row;
    line-height: 54px;
    font-size: 17px;
    padding-left: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

    &Fullscreen {
      margin-left: 4px;
      padding-left: 7px;
      padding-right: 7px;
      line-height: 50px;
    }
  }
}
