.panelInputText {
  display: flex;
  width: calc(100% - 12px);

  &ButtonContainer {
    width: inherit;
    display: flex;
  }

  &Value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;

    // hack to remove default safari tooltip
    &::after {
      content: '';
      display: block;
    }
  }

  &EditButton {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    opacity: 0.5;
  }

  &Popover {
    padding: var(--padding-9);
  }
}

.panelInputRadioGroup {
  &Label {
    font-size: var(--text-sm) !important;
  }

  &Radio {
    padding: var(--padding-2) var(--padding-5) !important;
  }
}
