.bounding {
  transition: var(--panel-bounding-transition);
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  border: var(--border-4);
}

.panel {
  transition: var(--panel-transition);
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  color: var(--gray-400);

  &Content {
    transition: var(--panel-transition);
    display: block;
  }
}

.label {
  &Table {
    transition: var(--panel-transition);
    padding: 0;
    table-layout: fixed;
    border-spacing: 0;
    box-sizing: border-box;
  }

  &Row {
    transition: var(--panel-transition);
    background: var(--white-200);

    &:hover {
      background: var(--gray-1200);

      .labelClose {
        display: block;
      }
    }
  }

  &Cell {
    padding-top: 0;
    padding-bottom: 0;
  }

  &NameCell {
    border-right: var(--border-1);
    font-weight: var(--font-normal);
  }

  &Outer {
    position: relative;
    overflow: hidden;
  }

  &Inner {
    padding-right: var(--padding-1);
    overflow: hidden;
    white-space: normal;
    vertical-align: middle;
    position: relative;
    cursor: default;
    display: flex;
  }

  &Close {
    transition: var(--panel-close-transition);
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    display: none;

    svg {
      margin-top: 1px;
      width: 12px;
      height: 12px;
    }
  }

  &P {
    width: 100%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.editButtonContainer {
  display: flex;
}

.editButton {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.labelInner .formRow {
  flex-wrap: nowrap;
}
