.sidebar {
  flex-shrink: 0;

  &DragContainer {
    overflow: auto;
  }

  &DragSubContainer {
    overflow: hidden;
    min-height: 600px;
  }

  &NoFilter {
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }

  &BobbingArrow {
    margin-top: 3px;
    margin-left: 5px;
    position: relative;
    animation: bobbing 1.5s ease-in-out infinite;
  }

  @keyframes bobbing {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
