.sidebar {
  &Container {
    transition: var(--sidebar-transition);
    position: absolute;
    left: var(--sidebar-container-position);
    top: var(--sidebar-container-position);
    height: 100%;
    box-sizing: border-box;
    border-right: var(--border);
    border-color: var(--gray-200) !important;
    background: var(--white);
    z-index: 999;
    overflow: hidden;
  }

  &Hidden {
    transition: var(--sidebar-transition);
    left: -182px;
  }

  &Header {
    padding-left: var(--padding-7);
    box-sizing: border-box;
    font-size: var(--text-xl);
    background: var(--gray-200);
    height: var(--sidebar-container-header-height);
    line-height: var(--sidebar-container-header-line-height);
    color: var(--white);
    border-left: var(--border-5);
  }

  &Empty {
    padding-left: var(--padding-6);
    padding-top: var(--padding-3);
  }
}
