.footer {
  &Wrapper {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    height: var(--footer-wrapper-height);
    padding-left: 10px;
    margin: 0;
    line-height: var(--footer-wrapper-line-height);
    font-size: var(--footer-wrapper-font-size);
    font-weight: 300;
    background: var(--gray-1300);
    color: var(--white);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1001;
  }

  &Inner {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding-right: 10px;
  }

  &Section {
    &Wrapper {
      display: flex;
      flex-direction: row;
    }

    &Text {
      margin-right: 3px;
    }
  }

  &ChipWrapper {
    display: flex;
    flex-direction: row;
  }

  &Spacer {
    width: var(--footer-spacer-width);
  }

  &FilterText {
    margin-left: 5px;
  }

  &ButtonDiv {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
