.footerChip {
  &Wrapper {
    border: var(--border-8);
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    margin-left: 3px;
    margin-top: 4px;
    padding: 0;
    outline: none;
    border-radius: var(--footerChip-wrapper-border-radius);
    white-space: nowrap;
    width: -webkit-fit-content;
    background: var(--blue);
    height: var(--footerChip-wrapper-height);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  &Label {
    color: var(--white);
    font-size: var(--footerChip-label-font-size);
    font-weight: var(--footerChip-label-font-weigh);
    line-height: var(--footerChip-label-line-height);
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    -webkit-user-select: none;
  }

  &Text {
    padding-left: 5px;
    font-size: var(--footerChip-text-font-size);
    font-style: italic;
  }

  &CloseIcon {
    display: inline-block;
    color: var(--black-300);
    fill: var(--black-300);
    height: var(--footerChip-closeIcon-height);
    width: var(--footerChip-closeIcon-width);
    transition: var(--footerChip-closeIcon-transition);
    cursor: pointer;
    margin: 1px 1px 0px -8px;
    -webkit-user-select: none;

    &:hover {
      color: var(--black-400);
      fill: var(--black-400);
    }
  }

  &IndIcon {
    padding-right: 5px;
  }
}
