.footerChip {
  &Wrapper {
    border: var(--border-8);
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    margin-left: var(--margin-2);
    margin-top: var(--margin-3);
    padding: var(--padding-0);
    outline: none;
    border-radius: var(--rounded);
    white-space: nowrap;
    width: -webkit-fit-content;
    background: var(--blue);
    height: var(--footerChip-wrapper-height);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  &Label {
    color: var(--white);
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    line-height: var(--footerChip-label-line-height);
    padding-left: var(--padding-8);
    padding-right: var(--padding-8);
    white-space: nowrap;
    -webkit-user-select: none;
  }

  &Text {
    padding-left: var(--padding-3);
    font-size: var(--text-2xs);
    font-style: italic;
  }

  &CloseIcon {
    display: inline-block;
    color: var(--black-300);
    fill: var(--black-300);
    height: var(--footerChip-closeIcon-size);
    width: var(--footerChip-closeIcon-size);
    transition: var(--footerChip-closeIcon-transition);
    cursor: pointer;
    margin: var(--margin-1) var(--margin-1) var(--margin-0) var(--neg-margin-6);
    -webkit-user-select: none;

    &:hover {
      color: var(--black-400);
      fill: var(--black-400);
    }
  }

  &IndIcon {
    padding-right: var(--padding-3);
  }
}
