.trelliscope-spa {
  height: 100vh !important;
  width: 100vw !important;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.trelliscope-app-container {
  background: white;
}

.trelliscope-app {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: normal;
}

.trelliscope-app button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.trelliscope-app td,
.trelliscope-app th {
  box-sizing: content-box;
}

.trelliscope-app label {
  font-weight: 300;
}

.trelliscope-app table {
  font-weight: 300;
}

.trelliscope-app button:focus {
  outline: 0;
}

.trelliscope-app h1,
.trelliscope-app h2,
.trelliscope-app h3,
.trelliscope-app h4,
.trelliscope-app h5,
.trelliscope-app h6 {
  font-weight: 500;
  color: black;
}

.trelliscope-app strong {
  color: black;
  font-weight: 500;
}

.trelliscope-app th {
  font-weight: 500;
}

.trelliscope-app h1 {
  font-size: 24px;
}

.trelliscope-app h2 {
  font-size: 20px;
}

.trelliscope-app a {
  color: #ff5252;
}

div[role='tooltip'] {
  z-index: 8001;
}

div[role='presentation'] {
  z-index: 8001;
}

.MuiDialog-root {
  z-index: 8002 !important;
}
