.trscope-fullscreen-body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.trscope-fullscreen-html {
  height: 100vh;
  width: 100vw;
}

.trscope-fullscreen-el {
  z-index: 7000;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  // transition: all 500ms ease-in;
  top: 0;
  left: 0;
}

.trelliscope-app-container {
  background: white;
}

.trelliscope-app button {
  font-family: "Open Sans",
  sans-serif;
  font-weight: 300;
  border: 'none';
  background: 'none';
  padding: 0;
  margin: 0;
}

.trelliscope-app td, th {
  box-sizing: content-box;
}

.trelliscope-app label {
  font-weight: 300;
}

.trelliscope-app button:focus {
  outline:0;
}

.trelliscope-app h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  color: black;
}

.trelliscope-app strong {
  color: black;
  font-weight: 400;
}

.trelliscope-app th {
  font-weight: 400;
}

.trelliscope-app h1 {
  font-size: 24px;
}

.trelliscope-app h2 {
  font-size: 20px;
}

.trelliscope-app a {
  color: #FF5252
}
