// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

:root {
  // color
  --white: #fff;
  --white-100: #fdfdfd;
  --white-200: #f6f6f6;
  --white-300: #eee;
  --white-400: #eaedf0;
  --white-500: #ebebeb;
  --white-600: #e0e0e0;
  --black: #000;
  --black-100: #000000cc;
  --black-200: #000000de;
  --black-300: #00000038;
  --black-400: #00000066;
  --black-500: #0000001e;
  --gray: #ddd;
  --gray-100: #ccc;
  --gray-200: #c1c1c1;
  --gray-300: #c0c0c0;
  --gray-400: #bbb;
  --gray-500: #aaa;
  --gray-600: #9ba3af;
  --gray-700: #999;
  --gray-800: #939393;
  --gray-900: #888;
  --gray-1000: #848484;
  --gray-1100: #777;
  --gray-1200: #f6f6f666;
  --gray-1300: #666;
  --gray-1400: #444;
  --red: #ff8e6a;
  --red-100: #ff5252;
  --red-200: #ff4308;
  --blue: #90caf9;
  --blue-100: #458af9e6;
  --blue-200: #448aff;
  --blue-300: #458af966;
  --orange: #ffd27f;
  --orange-100: #ffc04c;
  --orange-200: #ffaa0a;
  --green: #81c784;

  // border
  --border: 1px solid;
  --border-1: 1px solid var(--white);
  --border-2: 1px solid var(--white-400);
  --border-3: 1px solid var(--white-600);
  --border-4: 1px solid var(--gray);
  --border-5: 1px solid var(--gray-100);
  --border-6: 1px solid var(--gray-200);
  --border-7: 1px solid var(--gray-300);
  --border-8: 10px;

  // size
  --displayInfo-button-size: var(--header-container-height);
  --dispayInfo-container-max-height: 520px;
  --displayList-container-height: 400px;
  --displayList-grid-list-width: 700px;
  --displaySelect-size: var(--header-container-height);
  --filter-width: 399px;
  --filterCat-input-containter-height: 39px;
  --filterNum-plot-container-height: 100px;
  --footer-wrapper-height: 30px;
  --footer-spacer-width: 12px;
  --footerChip-wrapper-height: 22px;
  --footerChip-closeIcon-size: 21px;
  --fullscreenButton-size: 30px;
  --header-container-height: calc(var(--header-height) * 1px);
  --helpInfo-height: var(--header-container-height);
  --helpInfo-width: 130px;
  --pagination-button-size: 38px;
  --pagination-buttonWrap-height: 48px;
  --pagination-buttonWrap-width: 38px;
  --pagination-buttonDiv-size: 38px;
  --pagination-buttonText-height: 10px;
  --pagination-buttonText-width: 48px;
  --pagination-label-height: 48px;
  --pagination-progress-width: 120px;
  --relatedDisplays-button-size: var(--header-container-height);
  --relatedDisplays-buttonDialog-width: 200px;
  --relatedDisplays-handle-size: 8px;
  --sidebar-container-header-height: 25px;
  --sidebarFilter-height: 16px;
  --sidebarFilter-width: 230px;
  --sidebarFilter-notUsedHeader-height: 30px;
  --sidebarLabels-listCheckbox-size: 20px;
  --sidebarLayout-row-height: 42px;
  --sidebarLayout-row-width: 230px;
  --sidebarSort-table-height: 48px;
  --sidebarSort-table-width: 225px;
  --sidebarSort-button-height: 48px;
  --sidebarSort-button-width: 45px;
  --sidebarSort-labels-height: 48px;
  --sidebarSort-labels-width: 135px;
  --sidebarSort-notUsed-width: 230px;
  --sidebarSort-notUsedHeader-height: 30px;
  --sideButton-height: 50px;
  --sideButton-width: var(--header-container-height);
  --sideButton-icon-height: 22px;
  --sideButtons-container-width: var(--header-container-height);
  --sideButtons-spacer-height: 25px;
  --panelLabel-height: 27px;
  --panelGridGap: 5px;

  // line-height
  --displaySelect-button-line-height: 50px;
  --filterCatPlotBar-label-line-height: 19px;
  --footer-wrapper-line-height: 30px;
  --footerChip-label-line-height: 20px;
  --pagination-buttonText-line-height: 10px;
  --pagination-progress-line-height: 48px;
  --sidebar-container-header-line-height: 25px;
  --sidebarFilter-notUsedHeader-line-height: 30px;
  --sidebarFilter-header-line-height: 15px;
  --sidebarLabels-cogGroupHeader-line-height: 29px;
  --sidebarLayout-label-line-height: 28px;
  --sidebarLayout-inputLabelSpan-line-height: 40px;
  --sideButton-line-height: 50px;
  --sideButton-icon-line-height: 24px;
  --sideButton-label-line-height: 16px;

  // font-size
  --text-3xs: 10px;
  --text-2xs: 11px;
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-lg: 15px;
  --text-xl: 16px;
  --text-2xl: 17px;
  --text-3xl: 18px;
  --text-4xl: 20px;
  --text-5xl: 22px;
  --text-6xl: 23px;
  --text-7xl: 24px;

  // font-weight
  --font-light: 300;
  --font-normal: 400;
  --font-heavy: 500;

  // border-radius
  --rounded: 10px;
  --rounded-50: 50%;

  // transition
  --displayInfo-button-hover-transition: background 250ms;
  --displaySelect-inner-transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1),
    0ms opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --displaySelect-empty-transition: transform 750ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;
  --displaySelect-button-transition: all 500ms ease-in;
  --displaySelect-button-hover-transition: opacity 250ms;
  --footerChip-closeIcon-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --fullscreenButton-transition: all 100ms ease-in;
  --panel-transition: 300ms ease;
  --panel-bounding-transition: all 300ms ease;
  --panel-close-transition: 1s;
  --relatedDisplays-button-transition: left 0.5s ease, background 250ms;
  --relatedDisplays-button-hover-transition: background 250ms;
  --sidebar-transition: 300ms ease;
  --sidebarFilter-variable-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --sidebarFilter-headerIcon-hover-transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --sidebarSort-variable-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  --sideButton-transition: color 0.2s, background-color 0.2s;
  --sideButtons-spacer-transition: height 0.2s;

  // shadow
  --sidebarFilter-variable-box-shadow: var(--black-500) 0px 1px 6px, var(--black-500) 0px 1px 4px;
  --sidebarSort-variable-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

  // padding
  --sideButtons-container-padding-top: var(--header-container-height);
  --padding-px: 2px;
  --padding-1: 3px;
  --padding-2: 4px;
  --padding-3: 5px;
  --padding-4: 6px;
  --padding-5: 7px;
  --padding-6: 8px;
  --padding-7: 10px;
  --padding-8: 12px;
  --padding-9: 15px;
  --padding-10: 16px;
  --padding-11: 20px;
  --padding-12: 27px;

  // margin
  --margin-px: 1em;
  --margin-1: 1px;
  --margin-2: 3px;
  --margin-3: 4px;
  --margin-4: 5px;
  --margin-5: 6px;
  --margin-6: 8px;
  --margin-7: 10px;
  --margin-8: 12px;
  --margin-9: 15px;
  --margin-10: 20px;
  --margin-11: 21px;
  --margin-12: 24px;
  --margin-13: 27px;
  --margin-14: 28px;
  --margin-15: 50px;
  --neg-margin-px: calc(var(--margin-px) * -1);
  --neg-margin-1: calc(var(--margin-1) * -1);
  --neg-margin-2: calc(var(--margin-2) * -1);
  --neg-margin-3: calc(var(--margin-3) * -1);
  --neg-margin-4: calc(var(--margin-4) * -1);
  --neg-margin-5: calc(var(--margin-5) * -1);
  --neg-margin-6: calc(var(--margin-6) * -1);
  --neg-margin-7: calc(var(--margin-7) * -1);
  --neg-margin-8: calc(var(--margin-8) * -1);
  --neg-margin-9: calc(var(--margin-9) * -1);
  --neg-margin-10: calc(var(--margin-10) * -1);
  --neg-margin-11: calc(var(--margin-11) * -1);
  --neg-margin-12: calc(var(--margin-12) * -1);
  --neg-margin-13: calc(var(--margin-13) * -1);
  --neg-margin-14: calc(var(--margin-14) * -1);
  --neg-margin-15: calc(var(--margin-15) * -1);

  // position
  --content-position-top: var(--header-container-height);
  --displayInfo-button-position-left: var(--header-container-height);
  --sidebar-container-position: var(--header-container-height);

  // number
  --header-height: 48;
  --logo-width: 130;
  --footer-height: 30;
  --sidebar-width: 230;
  --sidebar-header-height: 25;
  --sidebar-filter-cat-height: 125;
  --sidebar-filter-num-height: 100;
  --sidebar-filter-variables-height: 50;
}
