.displayList {
  &Container {
    height: var(--displayList-container-height);
    overflow-y: auto;
  }

  &GroupContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &Grid {
    &List {
      width: var(--displayList-grid-list-width);
      margin-bottom: var(--margin-12);
    }

    &Tile {
      cursor: pointer;
    }

    &Title {
      font-weight: var(--font-normal);
      color: var(--red-100);
      font-size: var(--text-lg);
    }

    &SubTitle {
      font-style: italic;
      font-size: var(--text-2xs);
    }
  }
  &Img {
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }
  }

  &TitleBar {
    background: var(--black-100) !important;
  }

  &Checkbox {
    position: absolute !important;
    left: 0;
    top: 0;
    background: var(--blue-100) !important;
    color: var(--white) !important;

    &Checked {
      color: var(--white) !important;
    }
  }
}
