@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('opensans-light-webfont.woff2') format('woff2'),
       url('opensans-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('opensans-regular-webfont.woff2') format('woff2'),
       url('opensans-regular-webfont.woff') format('woff');
}
